{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h1>{{ entrada.titulo }}</h1>
    <h3>{{ entrada.cuerpo }}</h3>

    <form class="form-signin" method="POST" action="{{url_for('module002.module002_entrada')}}?rowid={{entrada.id}}">
        <h2 class="form-signin-heading"> Comentarios: </h2>
        {{ form.hidden_tag() }}
    	{{ wtf.form_field(form.cuerpo) }}

   <button class="btn btn-primary btn-block" type="submit"> Comentar </button>
   </form>

    {% for comentario in comentarios %}
        <hr>
        <h3>{{ comentario.user_id }}</h3>
        <h4> {{ comentario.cuerpo }} </h4>
        <hr>
    {% endfor %}

{% endblock %}